*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
        Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

sup {
    font-size: 0.5em;
}
body {
    background-color: slategray;
    #root {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 1em;
        padding: 1rem;
        // border: 1px solid red;
        // background-color: rgb(165, 165, 165);

        h1 {
            font-family: Arial, Helvetica, sans-serif;
        }
        .searchbar-card {
            .searchbar {
                padding: 0.25rem 0.5rem;
                border-radius: 0.5rem;
                background-color: rgba($color: #000000, $alpha: 0.2);
                border: none;
                color: black;
            }
            .searchbar:focus {
            }
            .searchbar::placeholder {
                color: black;
            }
        }

        .temperature-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;

            // height: 11rem;
            width: 11rem;
            // width: auto;
            // aspect-ratio: 2/4;
            // overflow: hidden;
            h2 {
                // font-size: 100%;
                // max-width: 100%;
                // overflow: hidden;
                // text-overflow: ellipsis;
                // overflow: hidden;
                // white-space: nowrap;
                // max-width: 9rem;
            }

            padding: 1rem;
            border-radius: 1rem;
            background-color: rgba($color: white, $alpha: 0.2);

            backdrop-filter: blur(2px);

            font-size: 1rem;

            img {
                height: 100px;
                width: 100px;
            }
            .temperature {
                font-size: 3rem;
            }
            ul {
                display: flex;
                gap: 0.5rem;
                list-style: none;
            }
        }
    }
}
// #root::before {
//     content: '';
//     display: block;
//     position: absolute;
//     z-index: -1;

//     height: 100%;
//     width: 100%;
//     background-image: url(https://cdn.pixabay.com/photo/2016/01/02/01/51/clouds-1117584_1280.jpg);
//     filter: blur(5px);
//     scale: 1.2;

//     overflow: hidden;
// }
